{% block body %}

    <div class="container-fluid">
        <div class="row content">
        <div class="col-sm-2">
            <h1>Menu</h1>
            <ul class="nav nav-pills nav-stacked">
                {% for tab in tabs %}
                <li><a href="{{url_for('tab', name=tab[0])}}">{{ tab[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8">
            {{main}}
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    </div>


{% endblock %}



