<nav class="package_menu">
    <button type="button" class="btn btn-default btn-block btn-lg" id="undo">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Undo
    </button>
    <button type="button" class="btn btn-default btn-block btn-lg" id="redo">
        <span class="glyphicon glyphicon-arrow-right"></span>
        Redu
    </button>

    <button type="button" class="btn btn-default btn-block btn-lg"
            id="save_config">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Save config
    </button>
    <button type="button" class="btn btn-default btn-block btn-lg"
            id="save_native">
        <span class="glyphicon glyphicon-floppy-save"></span>
        Save native
    </button>
</nav>
