    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    .modal-content.ui-resizable {

}

    td.multiple_buttons{
        width:137px;
    }

    .navbar-brand{
        padding: 0px;
    }

    .inconsistent{
        background-color: red;
    }

    .inconsistent >.panel >.panel-heading {
        background-color: orange;
    }