    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    .modal-content.ui-resizable {

}

    td.button{
        width:136px;
    }

    .navbar-brand{
        padding: 0px;
    }
